<header class="main-header">
    {{> main_nav}}
</header>

<header class="mobile-header">
    <div class="bar">
        <div class="hamburger">
            <i id="line1"></i>
            <i id="line2"></i>
            <i id="line3"></i>
        </div>
    </div>
    {{> mobile_nav}}
</header>
