<body class="">
    {{> header}}
    <article class="main-content">
        <section class="faqs">
            <div class="inner">
                <h2 data-delay="0" data-speed="0.5" data-animation="short-from-bottom" class="ani-sfb">{{{__ "Brainstorm"}}}</h2>
                <div class="faq-list ani-sfb" data-delay="0.1" data-speed="0.5" data-animation="short-from-bottom">
                    <ul>
                        <h4>{{{__ "Under Construction"}}}</h4>
                        <li>
                            <p class="mono num">01/</p>
                            <h6>{{{__ "Under Construction"}}}</h6>
                            <div class="indicator">
                                <i class="h"></i>
                                <i class="v"></i>
                            </div>
                            <div class="big-text">
                                <p>{{{__ "Under Construction"}}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </article>
    {{> footer}}
    <input type="hidden" id="site-base" value="faq" />
    <script src="javascripts/jquery-1.12.0.min.js"></script>
    <script src="javascripts/main.js"></script>
</body>

