<body class="">
    {{> header}}
    <article class="main-content">
        <section class="faqs">
            <div class="inner">
                <h2 data-delay="0" data-speed="0.5" data-animation="short-from-bottom" class="ani-sfb">{{{__ "PiNode"}}}</h2>
                <div class="faq-list ani-sfb" data-delay="0.1" data-speed="0.5" data-animation="short-from-bottom">
                    
                    <ul>
                        <h4>我们提供派节点搭建与维护，具体咨询微信:pi2345app</h4>
                        <li>
                            <p class="mono num">01/</p>
                            <h6>Pi节点前置硬性条件</h6>
                            <div class="indicator">
                                <i class="h"></i>
                                <i class="v"></i>
                            </div>
                            <div class="big-text">
                                <p>我们目前测试的派节点最低条件:</p>
                                <p>CPU:要求不低于4核心8线程</p>
                                <p>内存:≧8GB</p>
                                <p>硬盘:128GB固态(不需要分区)</p>
                                <p>系统:Win10专业版，Win11专业版（强烈推荐）</p>
                                <p>宽带：有宽带就行</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </article>
    {{> footer}}
    <input type="hidden" id="site-base" value="faq" />
    <script src="javascripts/jquery-1.12.0.min.js"></script>
    <script src="javascripts/main.js"></script>
</body>
